@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

$font-family-sans-serif: "Do Hyeon", sans-serif;

$bleu: rgb(26, 58, 100);
$dark-bleu: rgb(65, 65, 65);
$colour-primary: $bleu;
$colour-secondary: $dark-bleu;

$theme-colors: (
  "primary": $colour-primary,
  "secondary": $colour-secondary,
);
