@import "variables";
.intro {
  display: grid;
  grid-template-areas:
    "img t-1 t-1"
    "img t-2 t-2"
    "img t-3 t-3"
    "img t-4 t-4";
}

.image {
  margin: 0 auto;
  height: 470px;
  width: 330px;
  border-radius: 10px;
  border-right: 5px solid $primary;
}

.img {
  grid-area: img;
}

.t-1 {
  grid-area: t-1;
}

.t-2 {
  grid-area: t-2;
}

.t-3 {
  grid-area: t-3;
}

.t-4 {
  grid-area: t-4;
}

@media (max-width: $breakpoint-responsive) {
  .intro {
    display: grid;
    grid-template-areas:
      "img t-1"
      "t-2 t-2"
      "t-3 t-3"
      "t-4 t-4";
  }
}
@media (max-width: $breakpoint-responsive) {
  .image {
    position: relative;
    top:50%;
    transform: translateY(-50%);
    height: 157px !important;
    width: 110px !important;
  }
}
