#landingpage {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgb(26, 58, 100);
  padding: 0;
  margin: 0;
}

.motto-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mottos {
  display: flex;
  justify-content: space-evenly;
  flex: 8;
  font-size: 3rem;

  .motto {
    flex: 10;
  }
}

@each $i in 1, 2, 3 {
  .motto-#{$i} {
    display: flex;
    flex-direction: column;
    flex: 1;

    .spacer {
      height: calc((#{$i} - 1) * 15vh + 20vh);
    }
  }
}

.toolbar {
  flex: 2;
}

.btn {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1rem;
  border-bottom: 2px solid rgb(26, 58, 100);
  background: none;
  color: rgb(26, 58, 100);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  transition: all ease-in 0.15s;

  &:hover,
  &:focus {
    cursor: pointer;
    .triangle {
      display: inline-block;
    }
  }
  .triangle {
    display: none;
  }
}
