@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

#landingpage {
  font-family: "Do Hyeon", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  padding: 0;
  margin: 0;
}

.motto-container {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mottos {
  display: flex;
  justify-content: space-evenly;
  flex: 8;
  font-size: 3rem;

  .motto {
    flex: 10;
  }
}

@each $i in 1, 2, 3 {
  .motto-#{$i} {
    display: flex;
    flex-direction: column;
    flex: 1;

    .spacer {
      height: calc((#{$i} - 1) * 15vh + 20vh);
    }
  }
}

.toolbar {
  flex: 2;
}

.btn {
  font-family: "Do Hyeon", sans-serif;
  font-size: 1rem;
  border: 3px solid #fff;
  background: none;
  margin: 15px 30px;
  padding: 10px 15px;
  background-color: #3d5d7c;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all ease-in 0.15s;
  border-radius: 10px;

  &:hover,
  &:focus {
    background-color: #2c3e50;
    cursor: pointer;
    .triangle {
      display: inline-block;
    }
  }
  .triangle {
    display: none;
  }
}
