.languageSkill{
  text-align: center;
  .details{
    .detail{
      width:300px;
      .country{
        border-radius: 50%;
        border: solid 2px var(--primary);
        height:50px;
        width:50px;
        padding:10px;
        color: var(--primary);
      }
      .topText{
        display:inline-block;
        width:150px;
        border-bottom: solid 2px var(--primary);
      }
    }
  }
}
