.landingpage{
  height:100vh;
}
.navigation-burger{
  top:50px;
  right:100px;
  display:flex;
  flex-direction:column;
  justify-content: space-around;
  height:50px;
  width:50px;
}
.motto-container{
  display:flex;
  flex-direction: column;
  width:80%;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}
.motto{
  font-family: Tillana;
  font-weight:bolder;
  font-size: 3vw;
}
.motto-1{
  align-self: flex-start;
}
.motto-2{
  align-self: center;
}
.motto-3{
  align-self: flex-end;
}
.line{
  background-color: black;
  width: 40px;
  height:2.5px;
  right:0;
}
.line-1{
  margin-bottom:20px;
}
.line-2{
  width: 30px;
  right:0;
}
.line-3{
  margin-top:20px;
}
.continuation-container{
  margin-top:10%;
  flex:1;
  align-self: center;
  display:flex;
  flex-direction:column;
  font-size:24px;
}
.more{
  flex:1;
  align-self: center;
  border-bottom:solid 1px blue;
  line-height: 0.5;
  font-size:12pt;
}
.more:hover{
  cursor:pointer;
}
